<section class="ph3 pv4">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="f3 lh-title light-gray b tc mb2">heycoach beta list</p>
			<p>Do you want to have a direct impact on the features we build into heycoach? We're launching to a limited group very soon, if you want to know when, sign up below.</p>

			<form name="beta-test" netlify class="flex-ns mb3">

			  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="beta-test" action="beta-test-subscribe">
			    <input type="text" name="email" id="email" placeholder="Your email" class="w-100">
			    <label for="email">Your email</label>
			  </fieldset>

			  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Sign Me Up</button>

			</form>

		</div>


</section>
